@font-face {
    font-family: 'sf_pro_display';
    src: url('sfprodisplaybold.woff2') format('woff2'),
         url('sfprodisplaybold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'sf_pro_display';
    src: url('sfprodisplaymedium.woff2') format('woff2'),
         url('sfprodisplaymedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
*{
	box-sizing: border-box;
}
body{
	margin: 0;
	font-family: 'sf_pro_display', sans-serif;
}
#wrapper{
	overflow: hidden;
	width: 100%;
}
.center-wrap{
	max-width: 430px;
	margin: 0 auto;
}
.main-wrapper{
	padding: 15px;
	padding-bottom: 50px;
}
.logo-bx {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;
}
.logo-bx .tt{
	width: 150px;
}
.logo-bx .t1{
	font-weight: 700;
	font-size: 17px;
	line-height: 20px;
	margin-bottom: 3px;
	color: #000000;
}
.logo-bx .t2{
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	color: #6D747C;
}
.sta-check input{
	opacity: 0;
	position: absolute;
	left: -999px;
}
.sta-check span{
	width: 49px;
	height: 30px;
	background: #20B56C;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	font-size: 17px;
	line-height: 20px;
	color: #FFFFFF;
}
.sta-check span svg{
	margin-left: 3px;
}
.sta-check{
	cursor: pointer;
}
.sta-check input:checked + span svg path{
	fill: #fff;
}
.btns-bx {
	margin-bottom: 25px;
}
.btns-bx .text{
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	margin-bottom: 15px;
	color: #000000;
}
.btns-bx .btns{
	display: flex;
	margin: 0 -7px;
}
.btns-bx .btn{
	width: calc(50% - 14px);
	margin: 0 7px;
	display: block;
	background: #20B56C;
	border-radius: 7px;
	padding: 7px 0px;
	text-align: center;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
	text-decoration: none;
}
.btns-bx .bt2{
	background: #0095F6;
}
.banner{
	padding: 0 5px;
	margin-bottom: 30px;
}
.banner img{
	border-radius: 10px;
	display: block;
}
.nav{
	display: flex;
	margin: 0 ;
	padding: 0px ;
	background: #fff;
	border-bottom: 1px solid #F2F2F2; 
	list-style: none;
	overflow: auto;
	width: 100%;
	padding-bottom: 5px;
	scroll-behavior: smooth;
}
.nav li{margin-right: 35px;}
.nav li:last-child{margin-right: 0px;}
.nav a{
	display: block;
	padding: 12px 0 8px;
	font-weight: 500;
	font-size: 17px;
	line-height: 20px;
	color: #000000;
	text-decoration: none;
	border-bottom: 4px solid transparent;
	transition: 0.3s ease all;
}
.nav a.active{
	color: #20B56C;
	border-bottom: 4px solid #20B56C;
}
.items-bx{
	padding-top: 60px; 
}
.items-bx .h3{
	font-weight: 700;
	font-size: 23px;
	line-height: 30px;
	color: #000000;
	margin-bottom: 15px;
}
.items-list{
	list-style: none;
	margin: 0;
	padding: 0;
}
.items-list li{
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid #CECECE;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
} 
.items-list .t1{
	margin-bottom: 7px;
}
.items-list .t2{
	max-width: 80%;
	color: #6B6B6B;
	font-size: 14px;
	margin-bottom: 20px;
}
.items-list .img img{
	width: 115px;
	border-radius: 9px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	-ms-border-radius: 9px;
	-o-border-radius: 9px;
}
.items-list .btn{
	padding: 8px 6px;
	text-align: center;
	width: 100px;
	height: 34px;
	display: block;
	background: #FFFFFF;
	border: 1px solid #F5F5F5;
	border-radius: 3px;
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
	text-decoration: none;
	color: #67AD5B;
}
.total-bx{
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
	padding: 15px;
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #20B56C;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	color: #FFFFFF;
}
.total-bx a{
	color: #fff;
	text-decoration: none;
}
.nav-spacer{ 
	height: 50px;
}
.nav.fixed{
	left: 0;
	top: 0;
	position: fixed;
	padding: 5px 15px 10px;
	background: #fff;
	z-index: 5;
	border-radius: 0 0 5px 5px;
	box-shadow: 0 1px 5px 0px rgba(0,0,0,0.1);
}
.logo-bx-inner {
	justify-content: flex-start;
}
.logo-bx-inner .logo{
	margin-right: 50px;
}
.back{
	display: flex;
	margin-bottom: 25px;
	align-items: center;
	font-weight: 500;
	font-size: 17px;
	line-height: 20px;
	text-decoration: none;
	color: #000000;
}
.back img{margin-right: 20px;}
.btn-fixed{
	background: #20B56C;font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	display: flex;
	align-items: center;
	text-align: center;
	height: 50px;
	justify-content: center;
	color: #FFFFFF;
	text-decoration: none;
	position: fixed;
	z-index: 5;
	left: 0;
	bottom: 0;
	width: 100%;
	border: 0;
	cursor: pointer;
}
.number-bx{
	display: flex;
	align-items: center;
	justify-content: center;
	background: #FFFFFF;
	border: 1px solid #F5F5F5;
	border-radius: 3px; 
	width: 80px;
	height: 28px;
}
.number-bx input{
	border: 0;
	width: 30px;
	height: 28px;
	text-align: center;
	background: none;
	margin: 0; 
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
	text-align: center;
	color: #67AD5B;
}
.number-bx span{
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
	color: #000000;
	cursor: pointer;
	display: block;
	height: 28px;
	width: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.basket-bx{
	padding: 15px;
	margin: 0 -15px;
	background: #F4F4F4;
}
.basket-bx .bx{
	background: #FFFFFF;
	border-radius: 5px;
	margin-bottom: 30px;
}
.basket-bx .sep{
	border-top: 1px solid #F6F6F6;
}
.basket-list {
	list-style: none;
	margin: 0;
	padding: 0;
	padding: 20px 15px;
}
.basket-list li{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}
.basket-list li:last-child{
	margin-bottom: 0;
}
.basket-list .name{
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	color: #000000;
}
.basket-list .right{
	display: flex;
	align-items: center;
}
.basket-list .price{
	width: 70px;
	text-align: center;
	margin-left: 10px;
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	color: #000000;
}
.basket-bx select{
	background: #fff url(../img/down-arrow-svgrepo-com.svg) 97% 50% / 12px no-repeat;
	webkit-appearance: none;/* Chrome */
-moz-appearance: none;/* Firefox */
appearance: none;/* убираем дефолнтные стрелочки */
}
.basket-bx select,
.basket-bx input[type='text']{
	width: 100%;
	padding: 12px 15px;
	border: 0;
	outline: 0;
	width: 100%;
	height: 42px; 
	border-radius: 7px;
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	color: #000;
	font-family: 'sf_pro_display';
}
input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
::-webkit-input-placeholder {
color:#6C757D;}
:-moz-placeholder {
color:#6C757D;}
::-moz-placeholder {
color:#6C757D;}
:-ms-input-placeholder {  
color:#6C757D;}
.basket-bx .h3{
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	padding: 12px 15px;
	color: #000000;
}
.items-list .number-bx {
	margin: 0 auto;
	display: none;
}
.items-list .number-bx.act{
	display: flex;
}

noscript {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: #fff;
	padding: 15px;
}

/* Modal */
.modal-mask {
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: table;
	transition: opacity 0.3s ease;
  }
  
  .modal-wrapper {
	display: table-cell;
	vertical-align: middle;
  }
  
  .modal-container {
	width: 700px;
	max-width: 90vw;
	margin: 0px auto;
	background-color: #fff;
	border-radius: 15px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
	transition: all 0.3s ease;
	font-family: Helvetica, Arial, sans-serif;
	overflow: auto;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
}
  
  .modal-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 15px 20px;
  }
  .modal-header h3 {
	margin: 0;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
  }

  .modal-header .modal-close-btn {
	background: url("/img/close.svg") no-repeat center center;
	font-size: 0;
	width: 22px;
	height: 22px;
	padding: 0;
	border: none;
	cursor: pointer;
  }
  
  .modal-body {
	margin: 15px 20px;
  }

  
  .modal-enter {
	opacity: 0;
  }
  
  .modal-leave-active {
	opacity: 0;
  }
  
  .modal-enter .modal-container,
  .modal-leave-active .modal-container {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
  }

  .modal-footer .btn-fixed {
	position: static;
  }

  .m-product {
	display: flex;
	align-items: center;
	justify-content: space-between;
  }

  .m-product__img {
	width: 72px;
	height: 100%;
  }

.m-product__left, .m-product__right {
	display: flex;
	gap: 20px;
	align-items: center;
}

.m-product__right {
	justify-content: flex-end;
}

.m-product__name {
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;	
	color: #000000;
}

.m-product__count {
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;	
	color: #000000;
}

.m-product__price {
	font-weight: 500;
	font-size: 25px;
	line-height: 30px;
	color: #20B56C;
}

.m-options {
	padding: 20px 0 0 0;
	margin: 15px 0 0 0;
	border-top: 1px solid #939297;
}

.m-options__title {
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	color: #000000;
	padding: 15px 20px;
	border: 1px solid #939297;
	display: inline-block;
	line-height: 1;
}

.m-options-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 20px 0;
}

.m-options-item__label {
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;	
	color: #000000;
}

.m-options-item__label span {
	color: #939297;
	display: inline-block;
	margin: 0 0 0 15px;
}


.image-modal__img {
	width: 100%;
	min-height: 300px;
	max-width: calc(90vw - 40px);
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
}

.form-error {
	font-size: 14px;
	margin: 0 0 15px 0;
	color: red;
}

@font-face {
	font-family: 'GT Eesti Pro Text';
	src: url('https://halaleda.ru/assets/fonts/GTEestiProText-ThinItalic.eot');
	src: local('GT Eesti Pro Text Thin Italic'), local('GTEestiProText-ThinItalic'),
			url('https://halaleda.ru/assets/fonts/GTEestiProText-ThinItalic.eot?#iefix') format('embedded-opentype'),
			url('https://halaleda.ru/assets/fonts/GTEestiProText-ThinItalic.woff2') format('woff2'),
			url('https://halaleda.ru/assets/fonts/GTEestiProText-ThinItalic.woff') format('woff'),
			url('https://halaleda.ru/assets/fonts/GTEestiProText-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'GT Eesti Pro Text';
	src: url('https://halaleda.ru/assets/fonts/GTEestiProText-Medium.eot');
	src: local('GT Eesti Pro Text Medium'), local('GTEestiProText-Medium'),
			url('https://halaleda.ru/assets/fonts/GTEestiProText-Medium.eot?#iefix') format('embedded-opentype'),
			url('https://halaleda.ru/assets/fonts/GTEestiProText-Medium.woff2') format('woff2'),
			url('https://halaleda.ru/assets/fonts/GTEestiProText-Medium.woff') format('woff'),
			url('https://halaleda.ru/assets/fonts/GTEestiProText-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'GT Eesti Pro Text';
	src: url('https://halaleda.ru/assets/fonts/GTEestiProText-LightItalic.eot');
	src: local('GT Eesti Pro Text Light Italic'), local('GTEestiProText-LightItalic'),
			url('https://halaleda.ru/assets/fonts/GTEestiProText-LightItalic.eot?#iefix') format('embedded-opentype'),
			url('https://halaleda.ru/assets/fonts/GTEestiProText-LightItalic.woff2') format('woff2'),
			url('https://halaleda.ru/assets/fonts/GTEestiProText-LightItalic.woff') format('woff'),
			url('https://halaleda.ru/assets/fonts/GTEestiProText-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'GT Eesti Pro Display';
	src: url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-Bold.eot');
	src: local('GT Eesti Pro Display Bold'), local('GTEestiProDisplay-Bold'),
			url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
			url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-Bold.woff2') format('woff2'),
			url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-Bold.woff') format('woff'),
			url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'GT Eesti Pro Text';
	src: url('https://halaleda.ru/assets/fonts/GTEestiProText-Light.eot');
	src: local('GT Eesti Pro Text Light'), local('GTEestiProText-Light'),
			url('https://halaleda.ru/assets/fonts/GTEestiProText-Light.eot?#iefix') format('embedded-opentype'),
			url('https://halaleda.ru/assets/fonts/GTEestiProText-Light.woff2') format('woff2'),
			url('https://halaleda.ru/assets/fonts/GTEestiProText-Light.woff') format('woff'),
			url('https://halaleda.ru/assets/fonts/GTEestiProText-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'GT Eesti Pro Display';
	src: url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-MediumItalic.eot');
	src: local('GT Eesti Pro Display Medium Italic'), local('GTEestiProDisplay-MediumItalic'),
			url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-MediumItalic.eot?#iefix') format('embedded-opentype'),
			url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-MediumItalic.woff2') format('woff2'),
			url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-MediumItalic.woff') format('woff'),
			url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'GT Eesti Pro Text';
	src: url('https://halaleda.ru/assets/fonts/GTEestiProText-RegularItalic.eot');
	src: local('GT Eesti Pro Text Regular Italic'), local('GTEestiProText-RegularItalic'),
			url('https://halaleda.ru/assets/fonts/GTEestiProText-RegularItalic.eot?#iefix') format('embedded-opentype'),
			url('https://halaleda.ru/assets/fonts/GTEestiProText-RegularItalic.woff2') format('woff2'),
			url('https://halaleda.ru/assets/fonts/GTEestiProText-RegularItalic.woff') format('woff'),
			url('https://halaleda.ru/assets/fonts/GTEestiProText-RegularItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'GT Eesti Pro Text Book';
	src: url('https://halaleda.ru/assets/fonts/GTEestiProText-Book.eot');
	src: local('GT Eesti Pro Text Book'), local('GTEestiProText-Book'),
			url('https://halaleda.ru/assets/fonts/GTEestiProText-Book.eot?#iefix') format('embedded-opentype'),
			url('https://halaleda.ru/assets/fonts/GTEestiProText-Book.woff2') format('woff2'),
			url('https://halaleda.ru/assets/fonts/GTEestiProText-Book.woff') format('woff'),
			url('https://halaleda.ru/assets/fonts/GTEestiProText-Book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GT Eesti Pro Text';
	src: url('https://halaleda.ru/assets/fonts/GTEestiProText-BoldItalic.eot');
	src: local('GT Eesti Pro Text Bold Italic'), local('GTEestiProText-BoldItalic'),
			url('https://halaleda.ru/assets/fonts/GTEestiProText-BoldItalic.eot?#iefix') format('embedded-opentype'),
			url('https://halaleda.ru/assets/fonts/GTEestiProText-BoldItalic.woff2') format('woff2'),
			url('https://halaleda.ru/assets/fonts/GTEestiProText-BoldItalic.woff') format('woff'),
			url('https://halaleda.ru/assets/fonts/GTEestiProText-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'GT Eesti Pro Text';
	src: url('https://halaleda.ru/assets/fonts/GTEestiProText-UltraLightItalic.eot');
	src: local('GT Eesti Pro Text UltraLight Italic'), local('GTEestiProText-UltraLightItalic'),
			url('https://halaleda.ru/assets/fonts/GTEestiProText-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
			url('https://halaleda.ru/assets/fonts/GTEestiProText-UltraLightItalic.woff2') format('woff2'),
			url('https://halaleda.ru/assets/fonts/GTEestiProText-UltraLightItalic.woff') format('woff'),
			url('https://halaleda.ru/assets/fonts/GTEestiProText-UltraLightItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'GT Eesti Pro Display';
	src: url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-Thin.eot');
	src: local('GT Eesti Pro Display Thin'), local('GTEestiProDisplay-Thin'),
			url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-Thin.eot?#iefix') format('embedded-opentype'),
			url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-Thin.woff2') format('woff2'),
			url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-Thin.woff') format('woff'),
			url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'GT Eesti Pro Text';
	src: url('https://halaleda.ru/assets/fonts/GTEestiProText-Regular.eot');
	src: local('GT Eesti Pro Text Regular'), local('GTEestiProText-Regular'),
			url('https://halaleda.ru/assets/fonts/GTEestiProText-Regular.eot?#iefix') format('embedded-opentype'),
			url('https://halaleda.ru/assets/fonts/GTEestiProText-Regular.woff2') format('woff2'),
			url('https://halaleda.ru/assets/fonts/GTEestiProText-Regular.woff') format('woff'),
			url('https://halaleda.ru/assets/fonts/GTEestiProText-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GT Eesti Pro Display';
	src: url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-Light.eot');
	src: local('GT Eesti Pro Display Light'), local('GTEestiProDisplay-Light'),
			url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-Light.eot?#iefix') format('embedded-opentype'),
			url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-Light.woff2') format('woff2'),
			url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-Light.woff') format('woff'),
			url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'GT Eesti Pro Display';
	src: url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-UltraBold.eot');
	src: local('GT Eesti Pro Display UltraBold'), local('GTEestiProDisplay-UltraBold'),
			url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-UltraBold.eot?#iefix') format('embedded-opentype'),
			url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-UltraBold.woff2') format('woff2'),
			url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-UltraBold.woff') format('woff'),
			url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-UltraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'GT Eesti Pro Display';
	src: url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-UltraBoldItalic.eot');
	src: local('GT Eesti Pro Display UltraBold Italic'), local('GTEestiProDisplay-UltraBoldItalic'),
			url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-UltraBoldItalic.eot?#iefix') format('embedded-opentype'),
			url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-UltraBoldItalic.woff2') format('woff2'),
			url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-UltraBoldItalic.woff') format('woff'),
			url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-UltraBoldItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'GT Eesti Pro Display';
	src: url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-Medium.eot');
	src: local('GT Eesti Pro Display Medium'), local('GTEestiProDisplay-Medium'),
			url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
			url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-Medium.woff2') format('woff2'),
			url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-Medium.woff') format('woff'),
			url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'GT Eesti Pro Display';
	src: url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-UltraLight.eot');
	src: local('GT Eesti Pro Display UltraLight'), local('GTEestiProDisplay-UltraLight'),
			url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-UltraLight.eot?#iefix') format('embedded-opentype'),
			url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-UltraLight.woff2') format('woff2'),
			url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-UltraLight.woff') format('woff'),
			url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-UltraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'GT Eesti Pro Display';
	src: url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-RegularItalic.eot');
	src: local('GT Eesti Pro Display Regular Italic'), local('GTEestiProDisplay-RegularItalic'),
			url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-RegularItalic.eot?#iefix') format('embedded-opentype'),
			url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-RegularItalic.woff2') format('woff2'),
			url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-RegularItalic.woff') format('woff'),
			url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-RegularItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'GT Eesti Pro Display';
	src: url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-LightItalic.eot');
	src: local('GT Eesti Pro Display Light Italic'), local('GTEestiProDisplay-LightItalic'),
			url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-LightItalic.eot?#iefix') format('embedded-opentype'),
			url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-LightItalic.woff2') format('woff2'),
			url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-LightItalic.woff') format('woff'),
			url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'GT Eesti Pro Text';
	src: url('https://halaleda.ru/assets/fonts/GTEestiProText-Bold.eot');
	src: local('GT Eesti Pro Text Bold'), local('GTEestiProText-Bold'),
			url('https://halaleda.ru/assets/fonts/GTEestiProText-Bold.eot?#iefix') format('embedded-opentype'),
			url('https://halaleda.ru/assets/fonts/GTEestiProText-Bold.woff2') format('woff2'),
			url('https://halaleda.ru/assets/fonts/GTEestiProText-Bold.woff') format('woff'),
			url('https://halaleda.ru/assets/fonts/GTEestiProText-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'GT Eesti Pro Text';
	src: url('https://halaleda.ru/assets/fonts/GTEestiProText-Thin.eot');
	src: local('GT Eesti Pro Text Thin'), local('GTEestiProText-Thin'),
			url('https://halaleda.ru/assets/fonts/GTEestiProText-Thin.eot?#iefix') format('embedded-opentype'),
			url('https://halaleda.ru/assets/fonts/GTEestiProText-Thin.woff2') format('woff2'),
			url('https://halaleda.ru/assets/fonts/GTEestiProText-Thin.woff') format('woff'),
			url('https://halaleda.ru/assets/fonts/GTEestiProText-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'GT Eesti Pro Display';
	src: url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-UltraLightItalic.eot');
	src: local('GT Eesti Pro Display UltraLight Italic'), local('GTEestiProDisplay-UltraLightItalic'),
			url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
			url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-UltraLightItalic.woff2') format('woff2'),
			url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-UltraLightItalic.woff') format('woff'),
			url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-UltraLightItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'GT Eesti Pro Display';
	src: url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-BoldItalic.eot');
	src: local('GT Eesti Pro Display Bold Italic'), local('GTEestiProDisplay-BoldItalic'),
			url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
			url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-BoldItalic.woff2') format('woff2'),
			url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-BoldItalic.woff') format('woff'),
			url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'GT Eesti Pro Text';
	src: url('https://halaleda.ru/assets/fonts/GTEestiProText-MediumItalic.eot');
	src: local('GT Eesti Pro Text Medium Italic'), local('GTEestiProText-MediumItalic'),
			url('https://halaleda.ru/assets/fonts/GTEestiProText-MediumItalic.eot?#iefix') format('embedded-opentype'),
			url('https://halaleda.ru/assets/fonts/GTEestiProText-MediumItalic.woff2') format('woff2'),
			url('https://halaleda.ru/assets/fonts/GTEestiProText-MediumItalic.woff') format('woff'),
			url('https://halaleda.ru/assets/fonts/GTEestiProText-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'GT Eesti Pro Text Book';
	src: url('https://halaleda.ru/assets/fonts/GTEestiProText-BookItalic.eot');
	src: local('GT Eesti Pro Text Book Italic'), local('GTEestiProText-BookItalic'),
			url('https://halaleda.ru/assets/fonts/GTEestiProText-BookItalic.eot?#iefix') format('embedded-opentype'),
			url('https://halaleda.ru/assets/fonts/GTEestiProText-BookItalic.woff2') format('woff2'),
			url('https://halaleda.ru/assets/fonts/GTEestiProText-BookItalic.woff') format('woff'),
			url('https://halaleda.ru/assets/fonts/GTEestiProText-BookItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'GT Eesti Pro Text';
	src: url('https://halaleda.ru/assets/fonts/GTEestiProText-UltraLight.eot');
	src: local('GT Eesti Pro Text UltraLight'), local('GTEestiProText-UltraLight'),
			url('https://halaleda.ru/assets/fonts/GTEestiProText-UltraLight.eot?#iefix') format('embedded-opentype'),
			url('https://halaleda.ru/assets/fonts/GTEestiProText-UltraLight.woff2') format('woff2'),
			url('https://halaleda.ru/assets/fonts/GTEestiProText-UltraLight.woff') format('woff'),
			url('https://halaleda.ru/assets/fonts/GTEestiProText-UltraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'GT Eesti Pro Display';
	src: url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-Regular.eot');
	src: local('GT Eesti Pro Display Regular'), local('GTEestiProDisplay-Regular'),
			url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
			url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-Regular.woff2') format('woff2'),
			url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-Regular.woff') format('woff'),
			url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GT Eesti Pro Display';
	src: url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-ThinItalic.eot');
	src: local('GT Eesti Pro Display Thin Italic'), local('GTEestiProDisplay-ThinItalic'),
			url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-ThinItalic.eot?#iefix') format('embedded-opentype'),
			url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-ThinItalic.woff2') format('woff2'),
			url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-ThinItalic.woff') format('woff'),
			url('https://halaleda.ru/assets/fonts/GTEestiProDisplay-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}

.offer-card-wrapper {
	display: grid;
	grid-column: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	grid-row-gap: 15px;
	grid-column-gap: 15px;
}

.offer-card {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 5px;
	background: #f5f4f2;
	border-radius: 20px;
	max-width: 180px;
	justify-content: space-between;
}
.offer-card__photo {
	display: flex;
	position: relative;
	width: 100%;
	padding-bottom: 100%;
	max-height: 150px;
	border-radius: 20px;
	overflow: hidden;
}
.offer-card__photo img {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.offer-card__data {
	margin-top: 12px;
}
.offer-card__price {
	font-weight: 500;
	font-size: 17px;
	line-height: 20px;
	color: #000;
}
.offer-card__name {
	font-weight: 500;
	font-size: 13px;
	line-height: 20px;
	color: #000;
}
.offer-card__wt {
	font-weight: 500;
	font-size: 13px;
	line-height: 25px;
	color: #545454;
}
.offer-card__button {
	display: flex;
	align-items: center;
	margin-top: 12px;
	padding: 10px;
	height: 40px;
	background: #fff;
	border-radius: 25px;
	border: 0;
	font-weight: 500;
	font-size: 20px;
	line-height: 20px;
	color: #000;
	cursor: pointer;
}
.partner__header {
	 display: flex;
	 align-items: flex-end;
	 height: 270px;
	 position: relative;
	 z-index: 1;
}
 .partner__header img {
	 position: absolute;
	 left: 0;
	 right: 0;
	 top: 0;
	 bottom: 0;
	 width: 100%;
	 height: 100%;
	 object-fit: cover;
	 z-index: -1;
}
 .partner__data {
	 padding: 0 15px 35px;
	 margin: 0 auto;
}
 .partner__title {
	 margin-bottom: 15px;
	 font-weight: 700;
	 font-size: 37px;
	 line-height: 43px;
	 color: #fff;
	 text-shadow: 0 0 8px #000a;
}
 .partner__actions {
	 display: flex;
	 align-items: center;
}
 .partner__button {
	 display: flex;
	 padding: 15px 10px;
	 background: #fff;
	 border-radius: 15px;
	 margin-right: 10px;
	 border: 0;
	 font-weight: 700;
	 font-size: 14px;
	 line-height: 16px;
	 text-align: center;
	 color: #fff;
	 cursor: pointer;
	 text-decoration: none;
}
 .partner__button:last-child {
	 margin-right: 0;
}
 .partner__content {
	 position: relative;
	 margin-top: -15px;
	 padding: 15px 15px 30px 15px;
	 background: #fff;
	 border-radius: 20px 20px 0px 0px;
	 z-index: 5;
}
 .partner__tabs {
	 margin-bottom: 35px;
	 position: sticky;
	 top: 0;
	 background: #fff;
	 z-index: 6;
}
 .partner__section {
	 margin-bottom: 30px;
}
 .partner__section:last-child {
	 margin-bottom: 0;
}
 .partner__section-title {
	 margin-bottom: 30px;
	 font-weight: 700;
	 font-size: 27px;
	 line-height: 31px;
	 color: #000;
}
 .partner__card {
	 margin-bottom: 45px;
}
 .partner__card:last-child {
	 margin-bottom: 0;
}
 .service-wrapper {
	 max-height: calc(100vh - 20px) !important;
	 overflow: auto;
	/* Track */
}
 .service-wrapper::-webkit-scrollbar {
	 width: 0.4em;
}
 .service-wrapper::-webkit-scrollbar-track {
	 box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
	 border-radius: 5px;
}
 .service-wrapper::-webkit-scrollbar-thumb {
	 background-color: #0071eb;
	 border-radius: 5px;
}
.nav {
	background: #fff;
	border-radius: 10px;
	margin-top: -10px;
	z-index: 1;
	position: relative;
	padding: 0 15px;
}
.main-wrapper {
	padding: 0;
}
.items-bx {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 30px;
}
.nav li {
	margin: 0 17px;
}
.nav li:first-child {
	margin-left: 0;
}
.nav li:last-child {
	margin-left: 0;
}
.total-bx {
	text-decoration: none;
}
.plus-minus {
	display: grid;
	grid-template-columns: 2fr 1fr 2fr;
	gap: 5px;
	margin-top: 12px;
}
.plus-minus__item {
	cursor: pointer;
	background: #fff;
	height: 40px;
	font-weight: 500;
	font-size: 30px;
	padding: 0 20px;
}
.plus-minus__item:first-child {
	border-radius: 25px 0 0 25px;
	-webkit-border-radius: 25px 0 0 25px;
	-moz-border-radius: 25px 0 0 25px;
	-ms-border-radius: 25px 0 0 25px;
	-o-border-radius: 25px 0 0 25px;
}
.plus-minus__item:last-child {
	border-radius: 0 25px 25px 0;
	-webkit-border-radius: 0 25px 25px 0;
	-moz-border-radius: 0 25px 25px 0;
	-ms-border-radius: 0 25px 25px 0;
	-o-border-radius: 0 25px 25px 0;
	text-align: right;
}
.total-bx {
	min-height: 60px;
}
.plus-minus__num {
	max-width: 40px;
	border: 0;
	background: #fff;
	font-weight: 500;
	text-align: center;
	font-size: 30px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
.back {
	position: absolute;
	z-index: 10;
	width: 50px;
	height: 50px;
	background-color: #fff;
	top: 15px;
	left: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 0 1px #0002;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}
.back > svg {
	margin-left: -3px;
}