<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Байрам</title>
	<meta name="viewport" content="width=430" />
	<meta name="MobileOptimized" content="430" />
	<link rel="stylesheet" href="https://halaleda.ru/sharedFiles/css/style.css">
	<link rel="stylesheet" href="css/theme.css">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<script>
		localStorage.removeItem("busket")
	</script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script>
    <!-- template for the modal component -->
    <script type="text/x-template" id="modal-template">
		<transition name="modal">
		  <div class="modal-mask">
			<div class="modal-wrapper" @click="closeModal($event)">
			  <div class="modal-container">
				<div class="modal-header">
				  <h3><slot name="header"/></h3>
				  <button class="modal-close-btn" @click="$emit('close')">
					X
				  </button>
				</div>
  
				<div class="modal-body">
				  <slot name="default"/>
				</div>
  
				<div class="modal-footer">
				  <slot name="footer"/>
				</div>
			  </div>
			</div>
		  </div>
		</transition>
	  </script>
</head>
<body>
	<noscript>
		<h1>Ваш браузер не поддерживает JavaScript. Включите его поддержку</h1>
		<h2>Чтобы включить поддержку, следуйте инструкции для вашего браузера</h2>
		<a href="https://support.google.com/adsense/answer/12654?hl=ru">Для Google Chrome</a>
		<a href="https://support.microsoft.com/ru-ru/topic/%D0%BA%D0%B0%D0%BA-%D0%B2%D0%BA%D0%BB%D1%8E%D1%87%D0%B8%D1%82%D1%8C-javascript-%D0%B2-windows-88d27b37-6484-7fc0-17df-872f65168279">Для Microsoft Edge</a>
		<a href="https://support.mozilla.org/ru/kb/parametry-i-nastrojki-javascript-dlya-interaktivny">Для Mozzila Firefox</a>
		<a href="https://javascripton.com/ru/enable-javascript-apple-safari/">Для Apple Safari</a>
	</noscript>
	<div id="wrapper">
		<div class="center-wrap">
			<div class="main-wrapper">
				<a href="https://halaleda.ru/" class="back">
					<svg width="15" height="22" viewBox="0 0 15 22" fill="none" xmlns="http://www.w3.org/2000/svg">
						<line x1="1.99099" y1="11.9804" x2="13.0901" y2="1.89033" stroke="#3478F6" stroke-width="3"/>
						<line x1="2.06066" y1="10.0297" x2="12.6673" y2="20.6363" stroke="#3478F6" stroke-width="3"/>
					</svg>
				</a>
				<div class="parthner">
					<div class="partner__header">
						<img
							src="https://halaleda.ru/assets/bairam.webp"
							class="partner__img"
						/>
						<div class="partner__data">
							<div class="partner__title">Название</div>
							<div class="partner__actions">
								<a
									class="partner__button"
									style="color: #000"
									href="'tel:1231234'"
								>
									Позвонить
								</a>
								<a
									class="partner__button"
									style="background: #20b56c"
									href="https://wa.me/"
									target="_blank"
								>
									Whatsapp
								</a>
								<a
									class="partner__button"
									style="background: #0071eb"
									href="https://telegram.me/"
									target="_blank"
								>
									Telegram
								</a>
								<a
									class="partner__button"
									style="background: #000"
									href="google.com"
									target="_blank"
								>
									Instagram
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="nav-spacer">
					<ul class="nav">
						<li v-for="(category, i) in categories">
							<a
								:href="'#bx' + i"
								:class="{'active': i == activeCategory}"
							>
								{{ category.name }}
							</a>
						</li>
					</ul>
				</div>
				<div 
					v-for="(category, categoryIndex) in categories"
					class="items-bx" :id="'bx' + categoryIndex"
				>
					<div class="h3">{{ category.name }}</div>
					<div class="offer-card-wrapper">
						<div class="offer-card" v-for="(product, productIndex) in category.items">
							<div class="offer-card__photo">
								<img
									:src="product.imgPath"
									@click="showImg = product"
									alt=""
									class="offer-card__img"
								/>
							</div>
							<div class="offer-card__data">
								<div class="offer-card__price">{{ product.price }} P</div>
								<div class="offer-card__name">{{ product.name }}</div>
								<div class="offer-card__wt" v-html="product.text">270 мл</div>
							</div>
							<button
								v-if="!busket.get(`bx${categoryIndex}${productIndex}`)"
								class="offer-card__button"
								@click="addProduct(product, `bx${categoryIndex}${productIndex}`)"
							>Добавить</button>
							<div v-else class="plus-minus">
								<div
									@click="busketMinus(`bx${categoryIndex}${productIndex}`)"
									class="plus-minus__item"
								>
									<div style="margin-top: 0">
										-
									</div>
								</div>
								<input class="plus-minus__num" type="text" disabled :value="busket.get(`bx${categoryIndex}${productIndex}`).count" size="5"/>
								<div
									@click="busketPlus(`bx${categoryIndex}${productIndex}`)"
									class="plus-minus__item"
								>
									<div style="margin-top: 4px">
										+
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<modal v-if="showModal" @close="showModal = false">
					<div class="m-product">
						<div class="m-product__left">
							<img class="m-product__img" :src="currentProduct.imgPath" alt="">
							<div class="m-product__name">{{ currentProduct.name }}</div>
						</div>
						<div class="m-product__right">
							<div class="m-product__count">х 1</div>
							<div class="m-product__price">{{ productPrice }} P</div>
						</div>
					</div>
					<div class="m-options">
						<div class="m-options__title">{{currentProduct.options.title}}</div>
						<div class="m-options__items">
							<label class="m-options-item" v-for="(item, i) in currentProduct.options.items">
								<div class="m-options-item__label">{{ item.title }}<span>{{ item.price }} P</span></div>
								<input v-model="currentOption" type="radio" name="option" :value="i"> 
							</label>
						</div>
					</div>
				  <button slot="footer" @click="addToOrder()" type="submit" class="btn-fixed">Продолжить</button>
				</modal>
				<modal v-if="showImg" @close="showImg = null" class="image-modal">
					<template slot="header">{{showImg.name}}</template>
					<img class="image-modal__img" :src="showImg.imgPath" :alt="showImg.name">				
				</modal>
				<a href="./inner1.html" class="total-bx" v-if="busket && busket.getAllSum()">
					<div class="price">{{ busket.getAllCount() }} Товара  |  {{ busket.getAllSum() }} P</div>
					<span  class="to-bask">Посмотреть корзину</>
					</a>
			</div>
		</div>
	</div>
	<script src="js/jquery-1.8.3.min.js"></script>
	<script src="js/js.js"></script>
	<!-- Yandex.Metrika counter -->
	<script type="text/javascript" >
		(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
		m[i].l=1*new Date();
		for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
		k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
		(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

		ym(91748167, "init", {
				clickmap:true,
				trackLinks:true,
				accurateTrackBounce:true
		});
	</script>
	<noscript><div><img src="https://mc.yandex.ru/watch/91748167" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->
</body>
</html>